<nav>
        <div class = "container ">

            
            <div class='nav_container back'>
                        <%= link_to "< Back to posts", root_path %>
            </div>
        </div>
</nav>  