<!-- app/views/moderator/edit_location.html.erb -->

<h1>Edit location</h1>

<%= form_with(model: @location, url: moderator_update_location_path(@location), local: true, method: :patch) do |form| %>
    
    <%= render 'locationForm', form: form%>
    <div>
        <%= form.submit 'Update Location' %>
    </div>
<% end %>
