
<h1 class='container'>Pages#Home</h1>

<main class="container topics">

    <section class='articles container'>
        <h2>Topics</h2> 
            
        <% @main_posts.includes(:author, :category, :location).each do |post| %>
            
            <%= link_to  post do %>
                <div class="article_body" id="posts">
                    <%= render partial: 'previewMain', locals: { post: post } %>    
                </div>             
            <%end%>
                 
        <% end %>
        
    </section>

    <div class='articles-small'>
        
        <section class='articles container'>
            
            <% @secondary_posts.includes(:author, :category, :location).each do |post| %>
                <%= link_to  post do %>
                    <div class="article_body" id="posts">
                        <%= render partial: 'previewMain', locals: { post: post } %>    
                    </div>             
                <%end%>     
            <% end %>
               
        </section>
        
    </div> 
    
    
</main>    