<p style="color: green"><%= notice %></p>



<div id="posts" class="container">
  <% @posts.includes(:author, :category, :location).each do |post| %>
      <%= link_to  post do %>
        <%= render partial: 'post', locals: { post: post } %>
      <%end%>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
