// app/assets/stylesheets/_variables.scss

$color-primary:  #6f6af8;
$color-primary-light: hsla(242, 91%, 69%, 0.18);
$color-primary-variant: #5854c7;
$color-blue-neon: #00aaff;
$color-red: #da0f3f;
$color-red-neon: #ff0015;
$color-red-light: rgba(218, 15, 63, 0.15);
$color-green: #00c476;
$color-green-light: rgba(0, 196, 118, 0.15);
$color-gray-900: #1e1e66;
$color-gray-700: #2d2b7c;
$color-gray-300: rgba(242, 242, 254, 0.3);
$color-gray-200: rgba(242, 242, 254, 0.7);
$color-white: #ffffff;
$color-bg: #d6d6e4;
$color-deep-dark: #000015;

$transition: all 350ms ease;
$transition-profile: all 750ms ease;

$container-width-lg: 74%;
$container-width-md: 88%;
$form-width: 40%;

$card-border-radius-1: 0.3rem;
$card-border-radius-2: 0.5rem;
$card-border-radius-3: 0.8rem;
$card-border-radius-4: 2rem;
$card-border-radius-5: 5rem;
